{% block form_errors  %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="formError alert alert-danger">
        {% for error in errors %}
          <li>{{ error.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}
