*~
/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/parameters.env.yml
/app/config/parameters.env.yml*
/app/cache/*
/app/logs/**
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
!/vendor/forestlib/
/composer.phar
.idea/
/data/cron/auto/*
/data/excel/
/data/dev_dump/
/data/dev_test/*
/data/orders/
/data/review/
/data/sessions/
/data/stocks/
/data/upload_image_yahoo/
/data/upload_image_yahoo_variation/
/data/view_ranking/
/data/access_count/
/data/yahooImageXml/
/data/scraping_response/
/data/Transport/
/WEB_CSV/
/web/js/*
/web/css/*
/bin/node/*.txt
/bin/node/*.log
/bin/node/node_modules/*
/bin/backup/conf/plusnao.cnf.main
/bin/backup/conf/plusnao.cnf
/bin/backup/conf/root.cnf
/bin/health/
.env-export
.DS_Store
