.wrap {
  flex-wrap: wrap;
}

.mw650 {
  max-width: 650px;
}

@media screen and (min-width: 600px) {
  .mx-15 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}
