.px6 {
  padding-left: 6px;
  padding-right: 6px;
}
.px30 {
  padding-left: 30px;
  padding-right: 30px;
}
.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.mh120 {
  min-height: 120px;
}
.a-center {
  align-items: center;
}
