# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

log_timestamps = SYSTEM

# general_log=1
# general_log_file=/var/log/mysql/mysql-general.log

# slow_query_log = ON
slow_query_log=1 
slow_query_log_file=/var/log/mysql/mysql-slow-query.log
long_query_time=2

# ---------------------------------------
# added for compatibility
# ---------------------------------------
sql_mode=''
default_password_lifetime = 0
secure_file_priv = NULL

default-storage-engine = InnoDB
character-set-server=utf8
log_bin_trust_function_creators=1

# ---------------------------------------
# added for deadlock work-around
# ---------------------------------------
innodb_print_all_deadlocks = ON
transaction-isolation = READ-COMMITTED

# ----------------------
# bin-log
# ----------------------
server-id = 1001
log-bin   = mysql-bin
binlog_ignore_db = plusnao_log_db
expire_logs_days = 1
relay-log = relay-log

# skip-grant-tables


# --------------------------------------------------
# # Network
# # --------------------------------------------------
# # Global
#skip-networking
skip-name-resolve
max_connections = 1000
max_connect_errors = 100000
connect_timeout = 120
max_allowed_packet = 128M
# Global, Session
max_user_connections = 0
wait_timeout = 90000
interactive_timeout = 90000
net_read_timeout = 3600
net_write_timeout = 3600

# --------------------------------------------------
# # Cache & Memory
# # --------------------------------------------------
# # Global
# thread_cache_size = 8
table_open_cache = 500
query_cache_size = 512M
query_cache_limit = 1G
# Global, Session
max_heap_table_size = 16M
tmp_table_size = 16M
sort_buffer_size = 4M
read_buffer_size = 1M
join_buffer_size = 256K
read_rnd_buffer_size = 4M

key_buffer_size = 1073741824

# --------------------------------------------------------------------
# InnoDB base
# --------------------------------------------------------------------
# Global
innodb_buffer_pool_size = 11G
innodb_data_file_path = ibdata1:2000M;ibdata2:1G;ibdata3:4G
innodb_file_per_table = 1
#innodb_fast_shutdown = 0
#innodb_log_file_size = 64M
#innodb_log_files_in_group = 2
innodb_log_buffer_size = 64M
innodb_commit_concurrency = 0
innodb_concurrency_tickets = 500

# Global, Session
innodb_support_xa = FALSE
innodb_lock_wait_timeout = 120
innodb_table_locks = 1

# innodb_undo_log_truncate = 1
# innodb-undo-tablespaces = 2

# [mysqld_safe]

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8

