{# PC販売説明文テンプレート TODO 実装 #}

<a href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd.jpg" target="_blank">
  <img width=710 align=baseline border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd.jpg" alt="">
</a><br>

<a href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_1.jpg" target="_blank">
  <img width=710 align=baseline border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_1.jpg" alt="">
</a><br>

<a href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_2.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_2.jpg"
       alt="">
</a><br>
<a
  href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_3.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_3.jpg"
       alt="">
</a><br>
<a
  href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_4.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_4.jpg"
       alt="">
</a><br>
<a
  href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_5.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_5.jpg"
       alt="">
</a><br>
<a
  href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_6.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_6.jpg"
       alt="">
</a><br>
<a
  href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_7.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_7.jpg"
       alt="">
</a><br>
<a
  href="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_8.jpg" target="_blank">
  <img width=710
       align=baseline
       border=0 hspace=0
       src="https://image.rakuten.co.jp/plusnao/cabinet/itempic462/1322fd_8.jpg"
       alt="">
</a><br>
