{# PC商品説明文テンプレート TODO 実装 #}

ヒョウ柄＆レースのセクシーショーツ<br>
<br>
【サイズについて】<br>
ウエスト 平置き実寸26cm<br>
着丈 平置き実寸18cm<br>
<a href="https://image.rakuten.co.jp/plusnao/cabinet/iq3-81/bana/ansin_mailbin.jpg" target="_blank">
  <img width="410"
       align="baseline"
       border="0"
       hspace="0"
       src="https://image.rakuten.co.jp/plusnao/cabinet/iq3-81/bana/ansin_mailbin.jpg"
       alt="">
</a>

