{% extends 'AppBundle::base.html.twig' %}

{#{% block javascripts %}#}
  {#{% set useVue100 = true %}&#123;&#35; Vue.js 1.0 利用 &#35;&#125;#}
  {#{{ parent() }}#}
  {#{% javascripts '@AppBundle/Resources/public/js/app.test-vue-router.js' %}#}
  {#<script src="{{ asset_url }}"></script>#}
  {#{% endjavascripts %}#}
{#{% endblock %}#}

{% block body %}

  <div id="mainBlock">
    テストー
  </div>

{% endblock %}

